#view
{
    background: #fff;
}
#woinfo-wrap
{
    width:100%;
    margin-top: 1px;
    /*background: #fff;*/
    overflow: auto;
}

#woinfo-filter
{
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

#woinfo-column-one
{
    width: 0%;
    float:left;
}

#woinfo-inner-column-one
{
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
    /*border: 1px #ccc solid;*/
    /*background: #fff;*/
    overflow: hidden;
}

#woinfo-column-two
{
    width: 64%;
    /*border: 1px #ccc solid;*/
    float:left;
}

#woinfo-inner-column-two
{
    width: 100%;
    padding: 5px;
    /*background: #fff;*/
    /*border: 1px #ccc solid;*/
    overflow: auto;
}

#woinfo-general-analytics-table
{
    width: 99%;
    padding-top: 1px;
}


#woinfo-filter-order
{
    overflow: hidden;
    margin: 5px auto;
}

#woinfo-column-three
{
    width: 35%;
    /*border: 1px #ccc solid;*/
    float:left;
}

#woinfo-inner-column-three
{
    width: 98%;
    padding: 10px;
    margin-left: 0.8%;
    /*background: #fff;*/
    /*border: 1px #ccc solid;*/
    overflow: auto;
}


.woinfo-filter-line
{
    padding: 2px 0px;
}
.wo-filter-element
{
    float: left;
    margin: 0px 5px;
}

.wo-filter-label
{
    float:left;
    line-height: 24px;
}

.btn-custom
{
    background-color: #58a;
    border-bottom: 1pt solid #333;
    border-right: 1pt solid #333;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    min-width: 10px;
    padding: 2px 6px;
    text-align:center;
    white-space:nowrap;
}

.font-size-30
{
    font-size: 30px;
    line-height: 36px;
}

.font-size-24
{
    font-size: 24px;
    line-height: 30px;
}

.font-size-18
{
    font-size: 18px;
    line-height: 20px;
}

.font-size-16
{
    font-size: 16px;
    line-height: 18px;
}